<%= form_with(model: sake, class: "container mt-5") do |form| %>
  <div class="card">
    <div class="card-header">
      新規投稿
    </div>
    <div class="card-body">
      <% if sake.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h5><%= pluralize(sake.errors.count, "error") %> prohibited this sake from being saved:</h5>

          <ul>
            <% sake.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :日本酒名, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :画像, class: "form-label" %>
        <%= form.file_field :image, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :レビュー, class: "form-label" %>
        <%= form.text_area :content, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :生産地, class: "form-label" %>
        <%= form.text_field :place, class: "form-control" %>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <%= form.label :甘さ, class: "form-label" %>
              <%= form.number_field :sweetness, class: "form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= form.label :香り, class: "form-label" %>
              <%= form.number_field :flavor, class: "form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= form.label :酸味, class: "form-label" %>
              <%= form.number_field :sour, class: "form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= form.label :飲みやすさ, class: "form-label" %>
              <%= form.number_field :feeling, class: "form-control" %>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <%= form.label :コク, class: "form-label" %>
              <%= form.number_field :rich, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <% Label.all.each do |label| %>
          <% if action_name == 'new' || action_name == 'create' %>
            <%= form.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false, id: "label-#{label.id}" }, label[:id], "" %>
            <label for="label-<%= label.id %>"><%= label.feature %></label>
          <% elsif action_name == 'edit' || action_name == 'update' %>
            <%= form.check_box :label_ids, { multiple: true, checked: @sake.label_ids.include?(label.id), disabled: label[:disabled], include_hidden: false, id: "label-#{label.id}" }, label[:id], "" %>
            <label for="label-<%= label.id %>"><%= label.feature %></label>
          <% end %>
        <% end %>
      </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success'%>
  </div>
<% end %>