<% if current_user&.admin? %>
  <h1>管理者用ページ</h1>
<% else %>
  <h1>日本酒投稿一覧</h1>
<% end %>

<p id="notice"><%= notice %></p>
<%= render 'search', q: @q, url: sakes_path %>

<h1>Sakes</h1>
<table>
  <thead>
    <tr>
      <th>投稿者</th>
      <th>Name</th>
      <th>Image</th>
      <th>Content</th>
      <th>Place</th>
      <th>Sweetness</th>
      <th>Flavor</th>
      <th>Sour</th>
      <th>Feeling</th>
      <th>Rich</th>
      <th>label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sake.each do |sake| %>
      <tr>
        <td><%= link_to sake.user.name, user_path(sake.user.id) %></td>
        <td><%= sake.name %></td>
        <td>
          <% if sake.image.attached? %>
            <%= image_tag sake.image.variant(resize: "100x100") %>
          <% end %>
        </td>
        <td><%= sake.content %></td>
        <td><%= sake.place %></td>
        <td><%= sake.sweetness %></td>
        <td><%= sake.flavor %></td>
        <td><%= sake.sour %></td>
        <td><%= sake.feeling %></td>
        <td><%= sake.rich %></td>
        <td>
          <% sake.labelings.each do |labeling| %>
          <%= labeling.label.feature %><br>
          <% end %>
        </td>
        <% if user_signed_in? %>
          <% if current_user.id == sake.user.id %>
            <td><%= link_to 'Show', sake %></td>
            <td><%= link_to 'Edit', edit_sake_path(sake) %></td>
            <td><%= link_to 'Destroy', sake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% else %>
            <td><%= link_to 'Show', sake %></td>
          <% end %>
        <% else %>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sake', new_sake_path %>
