<h1><%= "#{@user.name}のお気に入り一覧" %></h1>

<p id="notice"><%= notice %></p>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @user.favorite_sakes.each do |sake| %>
        <div class="card mb-4">
          <div class="card-header">
            <div class="d-flex justify-content-between">
              <div>
                <strong><%= link_to sake.user.name, user_path(sake.user.id) %></strong>
              </div>
              <div>
                日本酒名: <%= sake.name %>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-4">
              <% if sake.image.attached? %>
                <%= image_tag sake.image, class: "card-img", alt: "#{sake.name}の画像" %>
              <% else %>
                <%= image_tag "no_image.png", class: "card-img", alt: "No Image" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="card-text">レビュー内容: <%= sake.content %></p>
                <p class="card-text">生産地: <%= sake.place %></p>
                <div class="row">
                  <div class="col">
                    <p class="card-text">甘さ: <%= sake.sweetness %></p>
                  </div>
                  <div class="col">
                    <p class="card-text">香り: <%= sake.flavor %></p>
                  </div>
                  <div class="col">
                    <p class="card-text">酸味: <%= sake.sour %></p>
                  </div>
                  <div class="col">
                    <p class="card-text">飲みやすさ: <%= sake.feeling %></p>
                  </div>
                  <div class="col">
                    <p class="card-text">コク: <%= sake.rich %></p>
                  </div>
                </div>
                <div class="col">
                  <p class="card-text">
                    タグ:
                    <% sake.labelings.each do |labeling| %>
                      <%= labeling.label.feature %><br>
                    <% end %>
                  </p>
                </div>
                <div>
                  <% if user_signed_in? %>
                    <% if current_user.id == sake.user.id %>
                      <%= link_to '詳細を見る', sake %></td>
                      <%= link_to '編集する', edit_sake_path(sake) %></td>
                      <%= link_to '削除する', sake, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% else %>
                      <td><%= link_to '詳細を見る', sake %></td>
                    <% end %>
                  <% else %>
                    <td></td>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>