<!DOCTYPE html>
<html>
  <head>
    <title>SyuMi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.0/chart.min.js" integrity="sha512-asxKqQghC1oBShyhiBwA+YgotaSYKxGP1rcSYTDrB0U6DxwlJjU59B67U8+5/++uFjcuVM8Hh5cokLjZlhm3Vg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <%= link_to 'SyuMi -酒味-', sakes_path, class: 'navbar-brand text-white' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ユーザー一覧', users_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿一覧', sakes_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-white' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-white' %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-white' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

  <main class="main-content">
  <div class="flex-grow-1">
    <%= yield %>
  </main>


<footer class="fixed-bottom bg-success text-white py-3">
  <div class="container text-center">
    <p class="mb-0">日本酒愛好家のためのレビューアプリ - あなたのお気に入りの一本を見つけよう</p>
  </div>
</footer>
</html>
